{% extends "base.html" %}

{% block content %}

<table>
{% for project in projects %}
<tr>
    <td><a href= "{% url 'project' project.id %}">{{ project.title }}</a> </td>
    <td><{{ project.description }}</td>
    <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
</tr>
{% endfor %}
</table>


<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsa deleniti laborum veritatis necessitatibus dolores
    nam incidunt tempora saepe earum, adipisci explicabo nostrum, fugit eum nobis, numquam sequi dolor repellat?</p>
{% endblock %}